@import 'reset.css';

/* Global */

html {
  font-size: 16px;
}

.btn {
  font-size: 1.2rem;
  padding: 0.5em 1em;
  border-radius: 0;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
}

/* HERO */

.hero {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 0 1.5rem;
}

.hero__title {
  font-size: 1.5rem;
}

.hero__hr {
  background-color: #fff;
  height: 2px;
  margin-bottom: 2rem;
  width: 100%;
}

.hero__subTitle {
  font-size: 0.9rem;
  line-height: 1.4;
  text-transform: uppercase;
}

/* POSTS */

.post {
  position: relative;
  height: 320px;
}

.post__header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.5rem;
  color: #fff;
  width: 60%;
  max-width: 250px;
}

.post__image {
  height: 100%;
  width: 100%;
  /* neiskraipyti paveikslelio */
  object-fit: cover;
}

.post__overlay {
  background-color: rgb(255 99 71 / 54%);
  position: absolute;
  /* padaro absolute elementa per visa tevinio el dydi */
  inset: 0;
}
.post__overlay--blue {
  background-color: rgba(43, 100, 223, 0.54);
}
.post__overlay--green {
  background-color: rgba(44, 118, 42, 0.54);
}

.post__hr {
  background-color: #fff;
  height: 2px;
  margin-bottom: 0.8rem;
  width: 100%;
}
